<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}ClearMatch{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <div class="menu-bar">
      <span class="menu-icon" onclick="toggleSidebar()">☰</span>
      <h1>ClearMatch</h1>
    </div>
    <div class="sidebar" id="sidebar">
      <a href="/">Home</a>
      <a href="/process_trials">Process Trials</a>
      <a href="/get_raw_trials">Get Raw Trials</a>
    </div>
    <div class="content" id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
